*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
}
.bulb{
    height: 150px;
    width: 150px;
    /* background-color: yellow; */
    border-radius: 100px;
    border: 1px solid black;
    position: absolute;
    margin: 70px;
    z-index: 100;
}
.container{
height: 200px;
width: 200px;
margin-top: 45px;
margin-left: 45px;
/* background-color: rgb(229, 235, 63); */
/* display: flex;
justify-content: center;
align-items: center;*/
border-radius: 100px;
 filter: blur(70px);
/* position: relative;
    z-index: -1;  */
}
#btn{
    height: 20px;
    width: 50px;
    margin-left: 120px;
    margin-top: 30px;
    background-color:red;
    color: white;
    border-radius: 4px;
}
/* .navigation{
    display: inline;
    padding-top: 10px;
    padding-left: 30px;
} */
.box{
    height: 300px;
    width: 300px;
background-color: rgb(218, 251, 193);
border: 1px solid #CCC;
}